.form {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 1.5rem;
  grid-auto-flow: row;
  margin: 10rem auto;
  text-align: center;
  justify-content: center;
}

.myEmail {
  border: solid 1px black;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 3px;
  width: 50%;
  display: flex;

  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

.email {
  position: relative;
  left: 30%;
  transform: translateX(-50%);
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
  width: 15rem;

  border-left: solid 1.7px black;
  padding-left: 0.3rem;
  border-color: rgb(40, 142, 244);
}

.contact {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: left;

  border-left: solid 1.7px black;
  padding-left: 0.3rem;
  border-color: rgb(244, 162, 40);
}

.emailInput {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.5rem;

  outline: none;
  border: 0;
  border-bottom: solid 1.7px black;
}

.emailInput:hover {
  border-color: blueviolet;
}
.emailInput:focus {
  border-color: blueviolet;
}

.contactInput {
  width: 25rem;
  height: 5rem;
  font-size: 1.2rem;
  padding-left: 0.5rem;

  outline: none;
  border: 0;
  border-bottom: solid 1.7px black;
}

.contactInput:hover {
  border-color: blueviolet;
}
.contactInput:focus {
  border-color: blueviolet;
}

.button {
  width: 10rem;
  height: 2.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1.7px black;
  border-radius: 0.3rem;
  background-color: white;

  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
}

.button:hover {
  background-color: rgb(234, 102, 115);
  cursor: pointer;
  color: white;
}
