.header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-content: center;
  width: 65%;
  text-align: center;
  border-bottom: solid 2px black;
  margin-bottom: 0.5rem;
}

.h1 {
  margin-bottom: 0.5rem;
  color: rgb(249, 102, 126);
}

.layout {
  padding: 0.5rem;
}
