.myPicture {
  position: relative;
  left: 25%;
  /* margin-top: 9rem; */
  margin-top: 2rem;

  width: 250px;
  height: 250px;
  transition: 0.3s ease;
}

.myPicture:hover {
  transform: scale(1.1);
}

.imgProfile {
  display: flex;
  align-items: center;
}

.imgTitle {
  text-align: center;
  font-weight: bold;
}

/* -------------------------------- specialty ------------------------------- */
.specialty {
  /* background-color: antiquewhite; */
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  align-items: center;
}

.specialtyTitle {
  font-size: 1.3rem;
  justify-self: left;
  margin: 0.5rem;
  border: solid 2px black;
  text-align: center;
  width: 25%;
  position: relative;
}

.specialtyDiv {
  justify-self: center;
  text-align: center;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  height: auto;
  padding: 0.5rem;
  /* border: solid 2px black; */
  border-bottom: solid 2px black;
}

/* .specialtyImg {
  transition: 0.3s ease;
  width: 100px;
  height: 100px;
} */

/* .specialtyImg:hover {
  transform: scale(1.1);
} */

/* --------------------------------- profile -------------------------------- */
.profile {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  position: relative;
  margin: 0 auto;
  /* margin-top: 9rem; */
  margin-top: 2rem;
  left: 15%;
  width: 55%;
}

.profileTitle {
  font-size: 1.3rem;
  text-align: center;
  border: solid 2px black;
  width: 15%;
  margin-bottom: 0.5rem;
}

.profileText {
  font-size: 1.2rem;
  /* border: solid 2px black; */
  border-left: solid 2px black;
  margin-left: 2rem;
  padding: 0.5rem 2rem;
  text-align: justify;
}

/* ----------------------------------- RWD ---------------------------------- */

@media screen and (max-width: 1150px) {
  .specialty {
    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  .profile,
  .imgProfile,
  .myPicture,
  .specialty {
    display: grid;
    grid-template-rows: auto;
    left: auto;
    justify-self: center;
  }

  .profile,
  .profileText,
  .specialty {
    margin-top: 3%;
    text-align: left;
  }

  .specialty {
    width: 50%;
  }

  .profileTitle {
    margin-left: 2rem;
    width: 25%;
  }
}

@media screen and (max-width: 660px) {
  .specialty {
    width: 50%;
  }

  .specialtyDiv {
    grid-template-rows: repeat(2, 1fr);
  }

  .specialtyTitle {
    margin: 0 auto 2%;
  }

  .profileTitle {
    margin: 8% auto 0;
  }
}

@media screen and (max-width: 520px) {
  .profileTitle {
    margin: 8% 0 2% 0;
    width: 25%;
    justify-self: center;
  }
  .profileText {
    margin: 0;
    width: 100%;
  }

  .specialty {
    width: 60%;
  }
}
